@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #ffffff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

body{
    margin: 0px;
    padding: 0px;
}

.app{
    margin: 0px;
    padding: 0px;
}

.big-container{
    width: 95%;
    margin: auto;
}

.container{
    width: 85%;
    margin: auto;
}

.flex-c{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.orange-button{
    width: 117px;
    height: 50px;
    background: linear-gradient(180deg, #F8AC75 0%, #E6660A 100%);
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.6), 4px 12px 32px rgba(244, 102, 0, 0.42);
    border-radius: 16px;
    border: 0px;

  
}


.white-button{
    width: 110px;
    height: 40px;
    background: #f8fbff00;
    border: 1px solid #000000;
    border-radius: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.white-button:hover{
    transform: translateY(-2px);
    box-shadow: -4px -2px 16px #FFFFFF, 8px 4px 8px rgba(136, 165, 191, 0.54);
}


h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0061E0;
}


h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 82px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #0D263B;
    margin-bottom: 20px;
}