@import "./index.scss";
.hero{
    height: calc(100vh - 70px);
    background: url("../assets/bg-4.png");
    background: url("../assets/bg-8.jpg");
    background-size: cover;
    overflow: hidden;

    .container{
       
    }
    
}