.home{
   h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    text-transform: uppercase;

    /* Main Colour */

    color: #0061E0;

   }  
}