
@import "./index.scss";
.navbar{
    //background: rgba(212, 205, 205, 0.2);
    //background: rgba(255, 255, 255, 0.524);
   // box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   // backdrop-filter: blur(5px);
    //-webkit-backdrop-filter: blur(5px);
    //border: 1px solid rgba(154,152,152, 0.3);
    // padding-top: 20px;
    // width: 85%;
    position: absolute;
    color: black;
    padding-top: 0px;
    width: 100%;
    margin: 0px auto;
}

.nav{
    width: 100%;
    padding: 12px 7.5%;
    height: fit-content;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgba(154,152,152, 0.3);
    //border-radius: 16px;

    
    .logo{
        img{
            width: 80px;
            height: fit-content;
            object-fit: contain;
        }
    }


    ul{ 
        margin: 0px;
        list-style-type: none;
        display: flex;
        align-items: center;
        li{
            margin-left: 25px;
            transition-duration: 0.3s;
        }
    }

    a{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        cursor: pointer;
        color: black;   
    }

    li:hover{

        a{
            font-size: 17px;
            text-shadow: -20px 0px 16px #FFFFFF, 8px 4px 8px rgba(136, 165, 191, 0.54);  
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }

        transform: translateY(-2px);
        
    }

    .toggle-button{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: #000000;
        display: none;
    }
}


@media screen and (max-width: 768px){
    .nav{
        ul{
            flex-direction: column;
            position: absolute;
            top: 70px;
            right: 0;
            width: 50%;
            height: 100vh;
            background: rgb(241, 241, 241);
            padding: 20px;
            li{
                margin-bottom: 20px;
            }           
        }

        .nav-elements{
            display: none;
        }


        .show-nav{
            display: block;
        }

        .toggle-button{
            display: block;
        }

    }
    
}
