@import "./index.scss";


.singleproject{
    width: 85%;
    margin: auto;
    
    @include mid-lap{
        width: 100%;
    }
   img{       
        width: 100%; 
        margin: auto;
        border-radius: 5px;
        object-fit: contain;
        margin-bottom: 20px;
   }

   

   h5{
        margin-bottom: 10px;
   }

   p{
    text-align: justify;
   }

   .icon-data{
    height: fit-content;
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    h4{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.03em;
        text-transform: capitalize;
        color: #0D263B;
        margin: 0px;
    }
   }

   .image{
    margin-top: 20px;
   }
}